.ant-btn-link {
  font-size: 18px;
  color: #ff6347;
  transition: all 0.3s ease;
}

.ant-btn-link:hover {
  color: #ff1493; 
  transform: scale(1.1);
}

.statistic-card .ant-statistic-icon {
  color: #ff5733; 
}

.ant-btn-link > .anticon {
  color: #ff6347; 
}

.ant-btn-link:hover > .anticon {
  color: #ff1493; 
}

.ant-btn-link .anticon-delete {
  color: #e74c3c; 
}

.ant-btn-link .anticon-eye {
  color: #2ecc71; 
}

.ant-statistic-title > .anticon {
  color: #ff6347; 
}

.ant-card-body .ant-statistic-content-value {
  color: #ff6347; 
}

.ant-modal-header .ant-modal-title .anticon {
  color: #ffffff;
}
